<!DOCTYPE html>
<html>
<body>
   <form action="/produtos" method="POST">

    <div>
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" placeholder="coloque o titulo"/>

    </div>
    <div>
        <label for="preco">Preco</label>
        <input type="text" id="preco" name="preco" placeholder="150"?>
    
    </div>
    <div>
    <label for="descricao">Descricao</label>
    <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Coloque sobre livro"></textarea>
    </div>
    <input type="submit" value="Gravar"/>
   </form> 

</body>
</html>